<!DOCTYPE html>
<!-- !加TAB快速生成 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../static/679_p.jpg" width="390px" height="540px">
    <form action="" method="post"><!--表单提交方式为post-->
        账号
        <br>
        <input type="text" name="name">
        <br>
        密码
        <br>
        <input type="text" name="password">
        <br>
        <input type="submit" name="submit">
    </form>
</body>
</html>